# Chris White
## Week 7 Exercise 7.2 Create Optimal Hotel Recommendations
## May 1, 2021

In [1]:
import pandas as pd
import random
from random import randint

# Reading in the train.csv and writing out a new csv with 100000 random samples selected from the original

old=open('train.csv','r',encoding='UTF-8')
new=open('new.csv','w',encoding='UTF-8')
n = 0

resultList = random.sample(range(1,753407),100000)
lines=old.readlines()
new.write(lines[0])
for i in resultList:
    new.write(lines[i])
    
old.close()
new.close()
data=pd.read_csv('new.csv')
data.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2013-04-15 09:35:52,8,4,77,824,6291,4865.1937,1011726,0,0,...,0,1,8747,1,0,1,3,106,107,68
1,2014-12-17 22:19:58,18,2,231,48,2982,NaN,846116,0,1,...,1,1,18569,1,0,3,3,182,83,36
2,2014-10-17 20:01:56,37,1,69,923,35532,NaN,591429,0,0,...,2,1,9147,1,0,1,2,50,367,92
3,2014-07-22 13:47:38,2,3,66,220,19366,NaN,592624,1,0,...,0,1,1707,1,0,1,2,50,1334,89
4,2014-08-26 17:52:39,2,3,66,467,34771,1462.9842,522075,0,0,...,0,1,8250,1,0,1,2,50,628,79

In [2]:
# Checking the types of data in the new csv

data.dtypes

date_time                     object
site_name                      int64
posa_continent                 int64
user_location_country          int64
user_location_region           int64
user_location_city             int64
orig_destination_distance    float64
user_id                        int64
is_mobile                      int64
is_package                     int64
channel                        int64
srch_ci                       object
srch_co                       object
srch_adults_cnt                int64
srch_children_cnt              int64
srch_rm_cnt                    int64
srch_destination_id            int64
srch_destination_type_id       int64
is_booking                     int64
cnt                            int64
hotel_continent                int64
hotel_country                  int64
hotel_market                   int64
hotel_cluster                  int64
dtype: object

In [3]:
# Creating our x and y values and dropping anything that is an object

Y = data['is_booking']
X = data.drop(['date_time','orig_destination_distance','srch_ci','srch_co','is_booking'],axis=1)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   site_name                 100000 non-null  int64
 1   posa_continent            100000 non-null  int64
 2   user_location_country     100000 non-null  int64
 3   user_location_region      100000 non-null  int64
 4   user_location_city        100000 non-null  int64
 5   user_id                   100000 non-null  int64
 6   is_mobile                 100000 non-null  int64
 7   is_package                100000 non-null  int64
 8   channel                   100000 non-null  int64
 9   srch_adults_cnt           100000 non-null  int64
 10  srch_children_cnt         100000 non-null  int64
 11  srch_rm_cnt               100000 non-null  int64
 12  srch_destination_id       100000 non-null  int64
 13  srch_destination_type_id  100000 non-null  int64
 14  cnt                       100000 non-null  int64
 15  hotel_continent           100000 non-null  int64
 16  hotel_country             100000 non-null  int64
 17  hotel_market              100000 non-null  int64
 18  hotel_cluster             100000 non-null  int64
dtypes: int64(19)
memory usage: 14.5 MB

In [4]:
# Importing the proper libraries and setting up the training and test parameters, I am using an 80/20 split randomly selected.

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)
print(len(X_train))
print(len(X_test))

80000
20000

In [7]:
#Random Forest even though it wasn't suggested, I wanted to see its performance

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,confusion_matrix

clf = RandomForestClassifier(n_estimators=80)
clf.fit(X_train, Y_train)
y_pred=clf.predict(X_test)
acc=accuracy_score(Y_test,y_pred)

print("Accuracy:" ,acc)
print( "Confusion Matrix")
print( confusion_matrix(Y_test, y_pred))

from sklearn.metrics import classification_report

print(classification_report(Y_test, y_pred))
print(clf.feature_importances_)

Accuracy: 0.91115
confusion matrix
[[18204   223]
 [ 1554    19]]
              precision    recall  f1-score   support

           0       0.92      0.99      0.95     18427
           1       0.08      0.01      0.02      1573

   micro avg       0.91      0.91      0.91     20000
   macro avg       0.50      0.50      0.49     20000
weighted avg       0.86      0.91      0.88     20000

[0.02345094 0.01127087 0.0352068  0.09788628 0.13150266 0.14067401
 0.01070951 0.00797754 0.03660982 0.02538092 0.0215908  0.01069156
 0.11485535 0.02214481 0.03037628 0.01392072 0.03351561 0.10207891
 0.13015661]

In [8]:
#Lots of discussion on Teams about KNN, wanted to run it on this data set

from sklearn import neighbors

knn = neighbors.KNeighborsClassifier()
knn.fit(X_train,Y_train)
y_predict = knn.predict(X_test)
acc=accuracy_score(Y_test,y_predict)

print("Accuracy:" ,acc)
print( "Confusion Matrix")
print( confusion_matrix(Y_test, y_predict))

from sklearn.metrics import classification_report

print(classification_report(Y_test, y_predict))

Accuracy: 0.9154
Confusion Matrix
[[18289   138]
 [ 1554    19]]
              precision    recall  f1-score   support

           0       0.92      0.99      0.96     18427
           1       0.12      0.01      0.02      1573

   micro avg       0.92      0.92      0.92     20000
   macro avg       0.52      0.50      0.49     20000
weighted avg       0.86      0.92      0.88     20000

## Both models seem to return pretty high accuracy results with the randomized and cleaned data